body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    background-image: url('../images/winter_background_ideas.jpg'); 
    background-size: cover;
  }
  .christmas-heading {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  }
  header {
    background-color: #c62828;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  #footer {
    background-color: #0f6108; 
    color: white;
    padding: 20px 0;
    text-align: center;
  }

  #footer p {
    margin: 0;
  }
  #container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  #ideas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .idea {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s forwards; 
    transition: transform 0.3s ease-in-out; 
  }
  .idea:hover {
    transform: scale(1.10); 
  }
  @keyframes fadeIn {
    to {
      opacity: 1; 
    }
  }

  .ornament {
 
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ff6347; 
  }

  .idea h2 {
    color: #315f94;
    font-size: 24px;
    margin-bottom: 15px;
  }
  .idea h2::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #ff6347;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .idea p {
    color:rgb(0, 0, 0); 
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .idea p:last-child {
    margin-bottom: 0;
  }

  .idea p:not(:last-child)::after {
    content: '';
    display: block;
    margin-top: 10px;
  }
 