body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    background-image: url('../images/winter_background_texts.jpg'); 
    background-size: cover;
  }
  .christmas-heading {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  }
  
  header {
    background-color: #c62828;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  #footer {
    background-color: #0f6108; 
    color: white;
    padding: 20px 0;
    text-align: center;
  }

  #footer p {
    margin: 0;
  }
  #container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  #container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  #poems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    perspective: 1000px;
  }
  .poem-box {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    opacity: 0; 
    animation: fadeIn 1s forwards; 
    transition: transform 0.3s ease-in-out;
   
  }

  .poem-box:hover {
    transform: scale(1.05); 
  }

  @keyframes fadeIn {
    to {
      opacity: 1; 
    }
  }
 
  

  .poem {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff0000; 
  }
 

  .poem h2 {
    color:crimson;
    font-size: 28px;
    margin-bottom: 15px;
  }

  .poem p {
    color: #333333;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .poem p:last-child {
    margin-bottom: 0;
  }

  .poem p:not(:last-child)::after {
    content: '';
    display: block;
    margin-top: 10px;
  }