body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    background-image: url('../images/winter_background_texts.jpg'); 
    background-size: cover;
  }
  
  header {
    background-color: #c62828;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  #container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  #container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  #poems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .poem {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff0000; 
  }

  .poem h2 {
    color:crimson;
    font-size: 28px;
    margin-bottom: 15px;
  }

  .poem p {
    color: #333333;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .poem p:last-child {
    margin-bottom: 0;
  }

  .poem p:not(:last-child)::after {
    content: '';
    display: block;
    margin-top: 10px;
  }